<div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
    <div class="relative">
        <div class="w-72 h-72 mx-auto relative transition duration-500 transform hover:scale-200">
            <img src="../assets/images/Fauzan.jpg" alt="Fauzan Wahyu M"
                class="w-full h-full object-cover rounded-full border-4 border-white shadow-3xl md:scale-150" />
        </div>
    </div>
    <div>
        <h2 class="text-3xl font-bold mb-6 gradient-text">About Me</h2>
        <p class="text-slate-300 mb-6 text-lg leading-relaxed">
            Saya adalah mahasiswa semester 6 Rekayasa Perangkat Lunak di Universitas Telkom Purwokerto dengan latar
            belakang Rekayasa Perangkat Lunak. Saya memiliki ketertarikan yang kuat pada bidang Web Development, Mobile Development, dan Cloud Computing.
            Selama kuliah,saya telah mengerjakan beberapa proyek termasuk pengembangan aplikasi Android, pembuatan situs web, dan
            manajemen infrastruktur cloud untuk penyebaran dan layanan aplikasi.

        </p>
        <div class="flex flex-wrap gap-3">
            <span class="skill-pill bg-slate-800 text-blue-400 px-4 py-2 rounded-full">Web Development</span>
            <span class="skill-pill bg-slate-800 text-purple-400 px-4 py-2 rounded-full">Mobile Development</span>
            <span class="skill-pill bg-slate-800 text-green-400 px-4 py-2 rounded-full">Cloud Computing</span>
            <span class="skill-pill bg-slate-800 text-yellow-400 px-4 py-2 rounded-full">UI/UX Design</span>
        </div>
    </div>
</div>