<footer class="py-8 border-t border-slate-800">
    <div class="flex flex-col md:flex-row justify-between items-center">
        <p class="text-slate-400 mb-4 md:mb-0">© 2025 Fauzan Wahyu Mubarak. All rights reserved.</p>
        <div class="flex space-x-4">
            <a href="https://x.com/FauzanWahyuM1?t=uzSfR48LzHL0HmVh7vE4bA&s=08" class="text-slate-400 hover:text-white transition-colors duration-300">
                <i class="fab fa-twitter text-xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/fauzan-wahyu-mubarak-75ba56249/" class="text-slate-400 hover:text-white transition-colors duration-300">
                <i class="fab fa-linkedin-in text-xl"></i>
            </a>
            <a href="https://github.com/FauzanWahyuM" class="text-slate-400 hover:text-white transition-colors duration-300">
                <i class="fab fa-github text-xl"></i>
            </a>
            <a href="https://www.instagram.com/fauzanwahyu.m?igsh=cHZpbnVmMmMxbWZ4" class="text-slate-400 hover:text-white transition-colors duration-300">
                <i class="fab fa-instagram text-xl"></i>
            </a>
        </div>
    </div>
</footer>